{% extends 'main.html' %}
<!--  -->
{% load static %}

<!--**********************************
    Header start
***********************************-->
{% block header %} {% include '../partials/header.html' %} {% endblock header %}
<!--**********************************
    Header end ti-comment-alt
***********************************-->

<!--**********************************
    Sidebar start
***********************************-->
{% block sidebar %} {% include '../partials/sidebar.html' %} {% endblock sidebar %}
<!--**********************************
    Sidebar end
***********************************-->

<!--**********************************
    page Title
***********************************-->
{% block linkName %} Tuteur {% endblock linkName %}
<!--  -->
{% block pageName %} Consulter {% endblock pageName %}
<!--**********************************
    page Title
**********************************-->

<!--**********************************
    Content body end
***********************************-->
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Informations du membre administratif</h4>
                    <input type="hidden" name="" id="schoolWorker.UserId" value="{{schoolWorker.User.id}}">
                    <div class="row">
                        <div class="col-md-3 mb-2">
                            <img src="{{schoolWorker.User.avatar.url }}" alt="" style="width: 200px;height: 200px;">
                        </div>
                        <div class="col-md-9 mb-5">
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label class="text-gray">Nom</label>
                                    <input type="text" class="form-control" value="{{schoolWorker.User.lastName}} {{schoolWorker.User.firstName}}" readonly="readonly" placeholder="Nom de l'apprenant" data-parsley-minlength="2" parsley-trigger="change" required id="lastName" style="text-transform: uppercase;">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Sexe</label>
                                    <input type="text" class="form-control" value="{{schoolWorker.User.gender}}" readonly="readonly" placeholder="Prénoms de l'apprenant" data-parsley-minlength="2" parsley-trigger="change" required id="gender" style="text-transform: capitalize;">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Date de naissance</label>
                                    <input type="text" class="form-control" value="{{schoolWorker.User.birthDate}}" readonly="readonly" placeholder="Votre date de naissance" data-parsley-minlength="2" parsley-trigger="change" required id="birthDate">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label>Adresse</label>
                                    <input type="text" class="form-control" value="{{schoolWorker.User.birthCountry}} / {{schoolWorker.User.birthTown}}/ {{schoolWorker.User.address}}" readonly="readonly" placeholder="Pays de naissance" data-parsley-minlength="3" parsley-trigger="change"
                                        required id="birthCountry" style="text-transform: uppercase;">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Contact</label>
                                    <input type="text" class="form-control" value="{{schoolWorker.User.phoneNumber}}" readonly="readonly" placeholder="Prénoms de l'apprenant" data-parsley-minlength="2" parsley-trigger="change" required id="gender" style="text-transform: capitalize;">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Email</label>
                                    <input type="text" class="form-control" value="{{schoolWorker.User.email}}" readonly="readonly" placeholder="Prénoms de l'apprenant" data-parsley-minlength="2" parsley-trigger="change" required id="gender" style="text-transform: capitalize;">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label>Ecole</label>
                                    <input type="text" class="form-control" value="{{schoolWorker.School.sigle}}" readonly="readonly" placeholder="Pays de naissance" data-parsley-minlength="3" parsley-trigger="change" required id="school" style="text-transform: uppercase;">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Poste</label>
                                    <input type="text" class="form-control" value="{{schoolWorker.UserGroup.wording}}" readonly="readonly" placeholder="Prénoms de l'apprenant" data-parsley-minlength="2" parsley-trigger="change" required id="work" style="text-transform: capitalize;">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
<!-- Scripts -->
{% block scripts %}
<script src="{% static 'school/js/tutors/TutorDetails.js' %}"></script>
{% endblock scripts %}