<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label" style="background-color: #7571f9; color:white;">Tableau de bord</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-grid menu-icon"></i><span class="nav-text">Tableau de bord</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'school:Dashboard' %}">Tableau 1</a></li>
                </ul>
            </li>

            <li class="nav-label" style="background-color: #7571f9; color:white;">Gestion pédagogique</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-cloud-upload menu-icon"></i><span class="nav-text">Les imporations</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'school:GraduationsLevelsImporations' %}">Niveaux et degrés</a></li>
                    <li><a href="{% url 'school:classesImportation' %}">Salles de classes</a></li>
                    <li><a href="{% url 'school:studentsImportation' %}">Apprenants</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Les salles de classes</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'school:GraduationLevels' %}">Niveaux et degrés</a></li>
                    <li><a href="{% url 'school:Classes' %}">Consulter / Créer</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Les apprenants</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'school:Students' %}">Consulter / Créer</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Les tuteurs</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'school:Tutors' %}">Consulter / Créer</a></li>
                    <li><a href="{% url 'school:TutorsMessages' %}">Les messages</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-graduation menu-icon"></i><span class="nav-text">Les inscriptions</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'school:Inscriptions' %}">Consulter / Créer</a></li>
                </ul>
            </li>
            <!-- <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-envelope-letter menu-icon"></i><span class="nav-text">Les messages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Tuteur</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'school:TutorsMessages' %}">Par classes</a></li>
                        </ul>
                    </li>
                </ul>
            </li> -->

            <li class="nav-label" style="background-color: #7571f9; color:white;">Administration</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Etablissement</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'school:SchoolInformations' %}">Mon  établissement</a></li>
                    <li><a href="{% url 'school:SmsEmailSettings' %}">EMAIL / SMS</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>