{% extends 'main.html' %}
<!--  -->
{% load static %}

<!--**********************************
    Header start
***********************************-->
{% block header %} {% include './partials/header.html' %} {% endblock header %}
<!--**********************************
    Header end ti-comment-alt
***********************************-->

<!--**********************************
    Sidebar start
***********************************-->
{% block sidebar %} {% include './partials/sidebar.html' %} {% endblock sidebar %}
<!--**********************************
    Sidebar end
***********************************-->

<!--**********************************
    page Title
***********************************-->
{% block linkName %} Parametrages {% endblock linkName %}
<!--  -->
{% block pageName %} Votre denomination {% endblock pageName %}
<!--**********************************
    page Title
**********************************-->

<!--**********************************
    Content body end
***********************************-->
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Votre école</h4>

                    <form action="#" class="parsley-examples" data-parsley-validate novalidate enctype="multipart/form-data" id="schoolForm">
                        {% csrf_token %}
                        <input type="hidden" value="{{school.id}}" name="" id="schoolId">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="denomination">Dénomination<span class="text-danger">*</span></label>
                                        <input type="text" value="{{school.denomination}}" name="denomination" data-parsley-minlength="2" parsley-trigger="change" required placeholder="Nom de l'école" class="form-control" id="denomination">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="sigle">Sigle<span class="text-danger">*</span></label>
                                        <input type="text" value="{{school.sigle}}" name="sigle" data-parsley-minlength="2" parsley-trigger="change" required placeholder="Pays de l'denomination" class="form-control" id="sigle" style="text-transform:uppercase;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="livingCountry">Pays<span class="text-danger">*</span></label>
                                        <input type="text" value="{{school.livingCountry}}" name="livingCountry" data-parsley-minlength="2" parsley-trigger="change" required placeholder="Pays de l'denomination" class="form-control" id="livingCountry" style="text-transform:uppercase;">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="livingTown">Ville<span class="text-danger">*</span></label>
                                        <input type="text" value="{{school.livingTown}}" name="livingTown" data-parsley-minlength="2" parsley-trigger="change" required placeholder="Ville de l'denomination" class="form-control" id="livingTown" style="text-transform:capitalize;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="address">Adresse<span class="text-danger">*</span></label>
                                        <input type="address" value="{{school.address}}" name="address" data-parsley-minlength="2" parsley-trigger="change" required placeholder="Adresse de l'denomination" class="form-control" id="address" style="text-transform:capitalize;">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="phoneNumber">Téléphone<span class="text-danger">*</span></label>
                                        <input type="text" value="{{school.phoneNumber}}" name="phoneNumber" data-mask="(999) 99-99-99-99-99" autocomplete="off" required placeholder="(+000)-00-00-00-00-00" data-parsley-minlength="2" parsley-trigger="change" required placeholder="Numéro de téléphone"
                                            class="form-control" id="phoneNumber">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="email">Email<span class="text-danger">*</span></label>
                                        <input type="email" value="{{school.email}}" name="email" data-parsley-minlength="2" parsley-trigger="change" required placeholder="Email de l'denomination" class="form-control" id="email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right mb-0">
                            <button class="btn btn-success shadow-success waves-effect waves-light mr-1 text-white" type="submit" id="schoolBtn">
                                <i class="mdi mdi-content-save"></i>                                           
                                Enregistrer
                                <span class="spinner-border spinner-border-sm d-none" id="spinner" role="status" aria-hidden="true"></span>    
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- Scripts -->
{% block scripts %}
<script src="{% static 'school/js/School.js' %}"></script>
{% endblock scripts %}